html {
    background-image: url(../images/abstractpattern.jpg);
    
    
}

body {
    width: 1000px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    
}

body {
    border: 4px dashed #000;
    box-shadow: 0 0 12px 4px rgba(0,0,0,.7);
    border-radius: 10px;
    background-color: #71acd2;
    
}

img {
    margin: 1.3em auto;    
    border: medium solid #666;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

body {
    text-align: center;
    font-family: arial, helvetica, sans-serif;
}



a {
    font-size: 30px;
    color: brown;
    text-decoration: none;
    font-family: Charmonman;
    word-spacing: 100px;
    
    
    
}

nav{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    word-spacing: 15px;
    border: 5px solid black;
    background-color: antiquewhite;
    
}


a:hover {
    color: #fff;
    
}

p {
    font-size: 30px;
    line-height: 30px;
    font-family: Indie Flower;
    color: firebrick;
    border: 5px solid black;
    background-color: antiquewhite;
    
    
}






